<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/axios.js"></script>
    <title>pokemon-crawling</title>
  </head>
  <body>
    <div class="flex-container">
      <div class="buttons">
        <button id="pokemonWiki" data-url="/pokemon/pokemonWiki" class="btn color-9">Crawling PokemonWiki</button>
        <button id="pokemonDatabase" data-url="/pokemon/pokemonDatabase" class="btn color-5">
          Crawling PokemonDatabase
        </button>
        <button id="pokemonIconImageOfSerebiiNet" data-url="/pokemon/pokemonIconImageOfSerebiiNet" class="btn color-1">
          Crawling PokemonIconImage of SerebiiNet
        </button>
        <button id="pokemonImageOfSerebiiNet" data-url="/pokemon/pokemonImageOfSerebiiNet" class="btn color-3">
          Crawling PokemonImage of SerebiiNet
        </button>
      </div>
    </div>
    <script>
      (() => {
        let isLoading = false;
        const { interceptors, get } = axios;

        const toggleDisable = flag => $buttons.forEach(el => (el.disabled = flag));
        const $get = url =>
          get(url, { timeout: 3000000 })
            .then(({ data }) => data)
            .catch(error => {
              toggleDisable(false);
              throw error;
            });

        const $buttons = Array.from(document.querySelector('.buttons').children);
        $buttons.forEach(el =>
          el.addEventListener('click', async e => {
            let result = {};
            try {
              result = await $get(e.target.dataset.url);
            } catch (error) {
              console.warn(error.message, error);
            } finally {
              console.log('### result', result);
            }
          }),
        );

        let reqTime;
        const toggleLoading = interceptor => {
          isLoading = !isLoading;
          toggleDisable(isLoading);

          if (isLoading) reqTime = Date.now();
          else console.log(interceptor.data, `+${Date.now() - reqTime}ms`);

          return interceptor;
        };

        interceptors.request.use(toggleLoading);
        interceptors.response.use(toggleLoading);
      })();
    </script>
  </body>
</html>
