<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/axios/dist/axios.js"></script>
    <title>pokemon-crawling</title>
  </head>
  <body>
    <div class="flex-container">
      <button id="evolutionChainByLevel" class="btn color-2">evolutionChainByLevel</button>
    </div>
    <script>
      const $evolutionChainByLevel = document.querySelector('#evolutionChainByLevel');
      $evolutionChainByLevel.addEventListener('click', async e => {
        const result = await axios.get('/pokemon/evolutionChainByLevel');
      });
    </script>
  </body>
</html>
